// COLORS
$scrollbar: #a07d40;
$scrollbar-background: #e5e3dc;

$white-shadow: #ffffff4d;

$foreground: #ffffff;
$lightdark: darkgray;
$darker: gray;
$background: #faebd7;

$bg-btn-panel :#14415e;

$zebra: #0001;

$marker: #a3da0b;
// END COLORS